include mixins.jade

// Jailbreak JS App Settings
script.
  var jailbreak = {};
  jailbreak.sentry = {};

+targethtml('dev')
  script.
    jailbreak.url = 'local.jailbreakhq.org';
    jailbreak.api_host = 'http://localhost:8090';
    jailbreak.release = 'local';
    jailbreak.sentry.enabled = false;

+targethtml('deployed')
  script.
    jailbreak.url = 'qa.jailbreakhq.org';
    jailbreak.api_host = 'https://qa.jbapi.net';
    jailbreak.release = '{{build}}';
    jailbreak.sentry.enabled = true;
    jailbreak.sentry.dsn = 'https://8bc0d346130249dc9952b52c1311e57b@app.getsentry.com/38797';